{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    {% if request.user.is_admin %}
     <nav>
        <div class="menu" >
            <img src="{% static 'icons/hamburger menu.svg' %}" alt="" onclick="toggleNavigation()">
        </div>
        <ul>
            <li>
                {% if request.user.is_authenticated %}
                <a href="">{{ request.user.username }}</a>
                <a href="{% url 'logout' %}">Log Out</a> 
                {% else %}
                <a href="">Profile</a>
                <img src="{% static 'icons/dropdownarrowsvg.svg' %}" alt="">
                {% endif %}
            </li>  
        </ul>
    </nav>
    <div class="contentholder">
        <div class="navigation">
            
            <img class="logo" src="{% static 'icons/Vivin-construction-and-engineering-logo.png' %}" alt="">
            <div class="tabholder">
                <div class="nav-tab"  onclick="toggleActive(this)">
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </div>
                <div class="nav-tab"  onclick="toggleActive(this)">
                    <a href="{% url 'projects' %}">Project</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'attendance_recordlist' %}">Attendance</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'overtimelist' %}">Overtime</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'indentlist' %}">Indents</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'contractorslist' %}">Contractor</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'labortypelist' %}">Labor Types</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'materialcategorylist' %}">Material Categories</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'materiallist' %}">Material List</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'allreports' %}">Ledgers</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="">Users</a>
                </div>
            </div>
        </div>
        <div class="displayboard">
            <div class="whiteboard">
                <div class="alignmentmaker">
                    <h3>Office User List</h3>
                    <!-- <div class="boxholder">
                        <div class="dash-card">
                            <div class="heading">
                                <h3>Total Customers</h3>
                            </div>
                        </div>
                    </div> -->
                    {% if request.user.is_admin %}
                    <div class="bottonholder">
                        <a href="{% url 'officeuser:officeusercreate' %}"><button>Add Office User</button></a>
                    </div>
                    {% endif %}
                    <table>
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for saleuser in object_list %}
                            <tr>
                                <td>{{ saleuser.user.username }}</td>
                                <td>{{ saleuser.user.first_name }}</td>
                                <td>{{ saleuser.user.email }}</td>
                                <td class="action">
                                    <a id="view" href=""><div class="buttonview">View</div></a>
                                    <a id="update" href=""><div class="button">Update</div></a>
                                    <a id="delete" href=""><div class="buttondelete">Delete</div></a> 
                                </td>
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {% else %}

    <p>Return to Login Page</p>

    {% endif %}
    
    <script src="{% static 'js/navigation.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>
    











   
</body>
</html>