{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labor Type Delete</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
     <nav>
        <div class="menu" >
            <img src="{% static 'icons/hamburger menu.svg' %}" alt="" onclick="toggleNavigation()">
        </div>
        <ul>
            <li>
                <a href="">Profile</a>
                <img src="{% static 'icons/dropdownarrowsvg.svg' %}" alt="">
            </li>  
        </ul>
    </nav>
    <div class="contentholder">
        <div class="navigation">
            
            <!-- <img class="logo" src="{% static 'icons/Vivin-construction-and-engineering-logo.png' %}" alt=""> -->
            <div class="tabholder">
                
                <div class="nav-tab" id="dashboard-tab" onclick="toggleActive(this)">
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </div>
                <div class="nav-tab" id="project-tab" onclick="toggleActive(this)">
                    <a href="{% url 'projects' %}">Project</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'attendance_record' %}">Attendance</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="">Indents</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="">Ledgers</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="">Users</a>
                </div>
                
            </div>
        </div>
        <div class="displayboard">
            <div class="whiteboard">
                <div class="alignmentmaker">
                    <h3>Delete Labor Type {{ labortype.Labor_type }}</h3>
                    <p>Are you sure you want to delete the Labor Type {{ labortype.Labor_type }} ?</p>
                    <form  method="post">
                        {% csrf_token %}
                        <button id="delete" type="submit" value="save">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/navigation.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>













   
</body>
</html>