{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labor Type List</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
     <nav>
        <div class="menu" >
            <img src="{% static 'icons/hamburger menu.svg' %}" alt="" onclick="toggleNavigation()">
        </div>
        <ul>
            <li>
                <a href="">Profile</a>
                <img src="{% static 'icons/dropdownarrowsvg.svg' %}" alt="">
            </li>  
        </ul>
    </nav>
    <div class="contentholder">
        <div class="navigation">
            
            <img class="logo" src="{% static 'icons/Vivin-construction-and-engineering-logo.png' %}" alt="">
            <div class="tabholder">
                <div class="nav-tab" id="dashboard-tab" onclick="toggleActive(this)">
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </div>
                <div class="nav-tab" id="project-tab" onclick="toggleActive(this)">
                    <a href="{% url 'projects' %}">Project</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'attendance_recordlist' %}">Attendance</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="">Indents</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'allreports' %}">Ledgers</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="">Users</a>
                </div>
            </div>
        </div>
        <div class="displayboard">
            <div class="whiteboard">
                <div class="alignmentmaker">
                    <h3>Labor Type</h3>
                    <div class="bottonholder">
                        <a href="{% url 'labortypecreate' %}"><button>Add Labor Type</button></a>
                    </div>
                    <div class="tableholder">
                        <table>
                            <thead>
                                <tr>
                                    <th>Contractor Name</th>
                                    <th>Labor Type</th>
                                    <th>Wage</th>
                                    <th>Overtime Wage</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for labortype in labortypes %}
                                <tr>
                                    <td>{{ labortype.Contractor }}</td>
                                    <td>{{ labortype.Labor_type }}</td>
                                    <td>{{ labortype.wage }}</td>
                                    <td>{{ labortype.overtime_wage }}</td>
                                    <td class="action">
                                        <a id="view" href="{% url 'labortypedetail' labortype.pk %}"><div class="buttonview">View</div></a>
                                        <a id="update" href="{% url 'labortypeupdate' labortype.pk %}"><div class="button">Update</div></a>
                                        <a id="delete" href="{% url 'labortypedelete' labortype.pk %}"><div class="buttondelete">Delete</div></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/navigation.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>













   
</body>
</html>