{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Contractor</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
     <nav>
        <div class="menu" >
            <img src="{% static 'icons/hamburger menu.svg' %}" alt="" onclick="toggleNavigation()">
        </div>
        <ul>
            <li>
                {% if request.user.is_authenticated %}
                <a href="">{{ request.user.username }}</a>
                <a href="{% url 'logout' %}">Log Out</a> 
                {% else %}
                <a href="">Profile</a>
                <img src="{% static 'icons/dropdownarrowsvg.svg' %}" alt="">
                {% endif %}
            </li>  
        </ul>
    </nav>
    <div class="contentholder">
        <div class="navigation">
            
            <img class="logo" src="{% static 'icons/Vivin-construction-and-engineering-logo.png' %}" alt="">
            <div class="tabholder">
                {% if request.user.is_admin or request.user.is_office_login %}
                <div class="nav-tab"  onclick="toggleActive(this)">
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </div>
                {% endif %}
                {% if request.user.is_admin or request.user.is_office_login %}
                <div class="nav-tab"  onclick="toggleActive(this)">
                    <a href="{% url 'projects' %}">Project</a>
                </div>
                {% endif %}
                {% if request.user.is_admin or request.user.is_office_login or request.user.is_site_engineer %}
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'attendance_recordlist' %}">Attendance</a>
                </div>
                {% endif %}
                {% if request.user.is_admin or request.user.is_office_login or request.user.is_site_engineer %}
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'overtimelist' %}">Overtime</a>
                </div>
                {% endif %}
                {% if request.user.is_admin or request.user.is_office_login or request.user.is_site_engineer %}
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'indentlist' %}">Indents</a>
                </div>
                {% endif %}
                {% if request.user.is_admin or request.user.is_office_login %}
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'contractorslist' %}">Contractor</a>
                </div>
                {% endif %}
                {% if request.user.is_admin or request.user.is_office_login %}
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'labortypelist' %}">Labor Types</a>
                </div>
                {% endif %}
                {% if request.user.is_admin or request.user.is_office_login %}
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'materialcategorylist' %}">Material Categories</a>
                </div>
                {% endif %}
                {% if request.user.is_admin or request.user.is_office_login %}
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'materiallist' %}">Material List</a>
                </div>
                {% endif %}
                {% if request.user.is_admin or request.user.is_office_login %}
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'allreports' %}">Ledgers</a>
                </div>
                {% endif %}
                {% if request.user.is_admin or request.user.is_office_login %}
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="">Users</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="displayboard">
            <div class="whiteboard">
                <div class="alignmentmaker">
                    <h3>Update Labor Type</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" value="save">Save Labor Type</button>
                    </form>  
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/navigation.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>













   
</body>
</html>