{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
     <nav>
        <div class="menu" >
            <img src="{% static 'icons/hamburger menu.svg' %}" alt="" onclick="toggleNavigation()">
        </div>
        <ul>
            <li>
                <a href="">Profile</a>
                <img src="{% static 'icons/dropdownarrowsvg.svg' %}" alt="">
            </li>  
        </ul>
    </nav>
    <div class="contentholder">
        <div class="navigation">
            
            <img class="logo" src="{% static 'icons/Vivin-construction-and-engineering-logo.png' %}" alt="">
            <div class="tabholder">
                <div class="nav-tab" id="dashboard-tab" onclick="toggleActive(this)">
                    <a href="{% url 'dashboard' %}">Dashboard</a>
                </div>
                <div class="nav-tab" id="project-tab" onclick="toggleActive(this)">
                    <a href="{% url 'projects' %}">Project</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'attendance_record' %}">Attendance</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="">Indents</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="{% url 'allreports' %}">Ledgers</a>
                </div>
                <div class="nav-tab" onclick="toggleActive(this)">
                    <a href="">Users</a>
                </div>
            </div>
        </div>
        <div class="displayboard">
            <div class="whiteboard">
                <div class="alignmentmaker">
                    <h3>Attendance</h3>
                    <div class="bottonholder">
                        <a href="{% url 'overtimecreate' %}"><button>Add Overtime</button></a>
                        <a href="{% url 'overtime_wage_calculation' %}"><button>Overtime Report</button></a>
                    </div>
                    <div class="tableholder">
                        <table>
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Project Name</th>
                                    <th>Project Contractor</th>
                                    <th>Project Labor Type</th>
                                    <th>No of workers</th>
                                    <th>No of Hours</th>
                                    <th>Remarks</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for overtime in overtimewage %}
                                <tr>
                                    <td>{{ overtime.date }}</td>
                                    <td>{{ overtime.project }}</td>
                                    <td>{{ overtime.contractor }}</td>
                                    <td>{{ overtime.labor_type }}</td>
                                    <td>{{ overtime.number_of_workers }}</td>
                                    <td>{{ overtime.number_of_hours }}</td>
                                    <td>{{ overtime.Remarks  }}</td>
                                    
                                    <td class="action">
                                        <a id="update" href="{% url 'overtimeupdate' overtime.pk %}"><div class="button">Update</div></a>
                                        <a id="delete" href="{% url 'overtimedelete' overtime.pk %}"><div class="buttondelete">Delete</div></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/navigation.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>













   
</body>
</html>